//
// Component: Background
//
// ========================================================================


// Variables
// ========================================================================

/* Color
 ========================================================================== */

.uk-background-emphasis { background-color: @global-emphasis-background; }
.uk-background-success { background-color: @global-success-background; }
.uk-background-danger { background-color: @global-danger-background; }
.uk-background-warning { background-color: @global-warning-background; }
.uk-background-juice { background-color: @global-juice-background; }
.uk-background-inverse { background-color: @global-background; }

.uk-background-success-light { background-color: @global-success-light-background; }

// Miscellaneous
// ========================================================================

.hook-background-misc() {}
