//
// Component: Dropdown
//
// ========================================================================

.hook-dropdown() {
    .border-radius;
    box-shadow: @dropdown-box-shadow;

    .uk-dropdown-nav {
        margin-left: -@dropdown-padding;
        margin-right: -@dropdown-padding;
        margin-top: -@dropdown-padding + @global-mini-margin;
        margin-bottom: -@dropdown-padding + @global-mini-margin;
    }
}

// Nav
// ========================================================================

.hook-dropdown-nav() {
    // font-size: @dropdown-nav-font-size;
}

.hook-dropdown-nav-item() {}

.hook-dropdown-nav-item-hover() {}

.hook-dropdown-nav-header() {}

.hook-dropdown-nav-divider() {}

// Miscellaneous
// ========================================================================

.hook-dropdown-misc() {}
