//
// Component: Utility
//
// ========================================================================


// Variables
// ========================================================================

// Colors
// ========================================================================

.uk-color-danger {
    color: @global-danger-color;
}
a.uk-color-danger:hover {
    color: lighten(@global-danger-color, 8%);
}

// Panel
// ========================================================================

.hook-panel-scrollable() {}


// Box-shadow bottom
// ========================================================================

.hook-box-shadow-bottom() {}


// Drop cap
// ========================================================================

.hook-dropcap() {
    // Prevent line wrap
    margin-bottom: -2px;
}


// Leader
// ========================================================================

.hook-leader() {
    font-size: 11px;
}


// Logo
// ========================================================================

.hook-logo() {}

.hook-logo-hover() {}


// Miscellaneous
// ========================================================================

.hook-utility-misc() {}

.uk-header-edit {
    float: right;
    font-size: 14px;
    margin-top: 3px;
}

// Inverse
// ========================================================================

.hook-inverse-dropcap() {}

.hook-inverse-leader() {}

.hook-inverse-logo() {}
.hook-inverse-logo-hover() {}
